NEXT_PUBLIC_SANITY_PROJECT_ID ="hs1icxne",
NEXT_PUBLIC_SANITY_DATASET = "production",
NEXT_PUBLIC_BASE_URL = "http://localhost:3000",
EMAIL_USER = "your_gmail@gmail.com",
EMAIL_PASS = "your_gmail_app_password",
